.CommentSubmission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.CommentSubmit {
    margin-left: 10px;
    flex: 1;
}

.CommentSubmitText {
    font-size: 14px;
}

.CommentContent {
    flex: 15;
    min-height: 8vh;
    max-height: 8vh;
}