body {
    background: linear-gradient(to right, #DECBA4, #3E5151);
}

.AllPosts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}